@import "tailwindcss";

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  font-size: 40px;
}

/* html {
  scroll-behavior: smooth;
} */

html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


@layer components {

  /*Color*/
  .text-secondary{
  opacity: 1;
  color: rgb(95, 94, 94);
 } 

 /*Spacing*/
 .py-block-padding{
  padding-bottom: 64px;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 64px;
 }

  /*Font Control*/
  .leading-relaxed{
    line-height: 1.625;
  }
  
  .font-key-concept{
    font-family: 'Inter';
  }
  .text-key-concept {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.1em;
    font-weight: 800;
  }

  .font-headline-md{
    font-family: 'Space Grotesk';
  }
  .text-headline-md{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 600;
  }

  .font-body-md{
    font-family: 'Inter';
  }
  .text-body-md{
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
  }

  .font-headline-lg{
    font-family: 'Space Grotesk';
  }
  .text-headline-lg{
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    font-weight: 700;
  }

  .font-body-lg{
    font-family: 'Inter';
  }
  .text-body-lg{
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
  }

  .font-label{
    font-family: 'Inter';
  }
  .text-label{
    font-size: 12px;
    line-height: 1.0;
    font-weight: 600;
  }

  .font-headline-xl{
    font-family: 'Space Grotesk';
  }
  .text-headline-xl{
    font-size: 80px;
    line-height: 1;
    letter-spacing: -0.02em;
    font-weight: 700;
  }
}
