---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="LiderazgoTech">
  <Header />
  
  <main>
    <!-- Aquí irían las secciones con padding superior para compensar el header[cite: 1] -->
  </main>
</Layout>