---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Mission from '../components/Mission.astro';
---

<Layout title="LiderazgoTech">
  <Header />
  <main>
    <Hero />
    <Mission />
  </main>
</Layout>