---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroResources from '../components/HeroResources.astro';
import GridResources from '../components/GridResources.astro';
import CallToActionResources from '../components/CallToActionResources.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="LiderazgoTech | Sobre mí">
  <Header />
  <main>
    <HeroResources />
    <GridResources />
    <CallToActionResources />
  </main>
  <Footer />
</Layout>