---
import Layout from '../layouts/Layout.astro';
import HeaderAbout from '../components/HeaderAbout.astro'
import HeroAbout from '../components/HeroAbout.astro';
import ManifestoAbout from '../components/ManifestoAbout.astro';
import ExpertiseAbout from '../components/ExpertiseAbout.astro';
import TimelineAbout from '../components/TimelineAbout.astro';
import CallToAction from '../components/CallToAction.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="LiderazgoTech | Sobre mí">
  <HeaderAbout />
  <main>
    <HeroAbout />
    <ManifestoAbout />
    <ExpertiseAbout />
    <TimelineAbout />
    <CallToAction />
  </main>
  <Footer />
</Layout>