<section class="px-8 py-block-padding border-b-4 border-zinc-900 bg-white">
    <div
        class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-0 border-4 border-zinc-900 overflow-hidden"
    >
        <div
            class="relative h-[400px] md:h-full border-b-4 md:border-b-0 md:border-r-4 border-zinc-900"
        >
            <img
                alt="Industrial Architecture"
                class="w-full h-full object-cover grayscale-industrial"
                data-alt="A high-contrast grayscale photograph of a brutalist concrete building with sharp angular lines and heavy structural shadows. The composition emphasizes the raw texture of the industrial materials and the mathematical precision of the architecture. The lighting is harsh, creating deep blacks and brilliant whites, aligning with a modernist industrial aesthetic. The overall mood is authoritative and physically grounded."
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuCgs-0vQ3-DTIuPJUllGxCZ2qdWcNkuMFfqTTpZTmJt0N7Z3AWRqNA5nnUjlzTXaD0lMx2x1dTGinJCGNO4gSQ241EqsTwpcw5a93hHllEKzDHsAGOsgbkpFxMJZQo4mbWXJx4he56z-4_YwAybuhJYzUfLjY-iBGlFqyAA2vnbTUvQqxddDJg7V0Ior4tRZ-D5MbfB1JaE38qELijlZIL55ASJRnHS0Mn79Kpu-XXOIOO5a7LXywWwKRH_n_AuBJatb7EaAPELgodm"
            />
        </div>
        <div class="p-12 flex flex-col justify-center bg-[#fcf9f8]">
            <div
                class="inline-block bg-zinc-900 text-white font-key-concept px-3 py-1 mb-6 self-start"
            >
                PROTOCOLO DE RED
            </div>
            <h2
                class="font-headline-lg text-headline-lg uppercase mb-6 leading-tight"
            >
                Optimización de Infraestructuras en Entornos de Alta Demanda
            </h2>
            <p class="font-body-lg text-body-lg text-secondary mb-8">
                Un análisis profundo sobre la resiliencia de sistemas
                distribuidos y la implementación de topologías de red que
                desafían los estándares convencionales de la industria.
            </p>
            <button
                class="bg-zinc-900 text-white font-key-concept px-8 py-4 self-start hover:bg-primary-container hover:text-zinc-900 transition-none active:invert border-2 border-zinc-900"
            >
                LEER PROTOCOLO
            </button>
        </div>
    </div>
</section>
