<section class="bg-surface-container border-b-4 border-neutral-900">
    <div
        class="max-w-7xl mx-auto px-10 py-8 flex flex-col md:flex-row justify-between items-center gap-6"
    >
        <div class="flex flex-wrap gap-4 items-center">
            <span class="font-key-concept text-neutral-900 mr-2"
                >FILTRAR POR:</span
            >
            <button
                class="bg-neutral-900 text-white px-6 py-2 font-key-concept uppercase border-2 border-neutral-900 transition-none"
                >Todos</button
            >
            <button
                class="bg-transparent text-neutral-900 px-6 py-2 font-key-concept uppercase border-2 border-neutral-900 hover:bg-neutral-900 hover:text-white transition-none"
                >Gestión</button
            >
            <button
                class="bg-transparent text-neutral-900 px-6 py-2 font-key-concept uppercase border-2 border-neutral-900 hover:bg-neutral-900 hover:text-white transition-none"
                >Técnico</button
            >
            <button
                class="bg-transparent text-neutral-900 px-6 py-2 font-key-concept uppercase border-2 border-neutral-900 hover:bg-neutral-900 hover:text-white transition-none"
                >Estrategia</button
            >
        </div>
        <div
            class="flex items-center gap-2 border-b-2 border-neutral-900 w-full md:w-64"
        >
            <span class="material-symbols-outlined text-neutral-900"
                >search</span
            >
            <input
                class="bg-transparent border-none focus:ring-0 w-full font-key-concept text-sm"
                placeholder="BUSCAR RECURSO..."
                type="text"
            />
        </div>
    </div>
</section>
