<footer
    class="bg-[#1A1A1A] dark:bg-black text-[#FFCC00] font-['Space_Grotesk'] text-sm font-bold uppercase tracking-widest docked full-width border-t-4 border-[#FFCC00] flex flex-col md:flex-row justify-between items-center w-full px-16 py-12 gap-8"
>
    <div class="flex flex-col gap-2">
        <div class="text-[#FFCC00] font-black text-2xl">LIDERAZGOTECH</div>
        <div class="text-gray-400">
            ©2024 LIDERAZGOTECH. ESTRUCTURA Y PODER.
        </div>
    </div>
    <div class="flex gap-12">
        <a class="text-gray-400 hover:text-[#FFCC00] transition-none" href="#"
            >Privacidad</a
        >
        <a class="text-gray-400 hover:text-[#FFCC00] transition-none" href="#"
            >Términos</a
        >
        <a class="text-gray-400 hover:text-[#FFCC00] transition-none" href="#"
            >Soporte</a
        >
        <a class="text-gray-400 hover:text-[#FFCC00] transition-none" href="#"
            >Prensa</a
        >
    </div>
    <div class="flex gap-6">
        <div
            class="w-10 h-10 border-2 border-[#FFCC00] flex items-center justify-center hover:bg-[#FFCC00] hover:text-[#1A1A1A] cursor-pointer"
        >
            <span class="material-symbols-outlined !text-xl" data-icon="share"
                >share</span
            >
        </div>
        <div
            class="w-10 h-10 border-2 border-[#FFCC00] flex items-center justify-center hover:bg-[#FFCC00] hover:text-[#1A1A1A] cursor-pointer"
        >
            <span
                class="material-symbols-outlined !text-xl"
                data-icon="terminal">terminal</span
            >
        </div>
    </div>
</footer>
