<header
    class="bg-[#FFCC00] text-[#1A1A1A] font-['Space_Grotesk'] font-bold uppercase tracking-tighter border-b-4 border-[#1A1A1A] flex justify-between items-center w-full px-16 py-6 fixed top-0 z-50"
>
    <div class="text-3xl font-black text-[#1A1A1A] tracking-widest">
        LIDERAZGOTECH
    </div>
    <nav class="hidden md:flex gap-12 items-center">
        <a
            class="text-[#1A1A1A] opacity-80 hover:bg-[#1A1A1A] hover:text-white transition-none px-2 py-1"
            href="#mision">Misión</a
        >
        <a
            class="text-[#1A1A1A] opacity-80 hover:bg-[#1A1A1A] hover:text-white transition-none px-2 py-1"
            href="#servicios">Servicios</a
        >
        <a
            class="text-[#1A1A1A] opacity-80 hover:bg-[#1A1A1A] hover:text-white transition-none px-2 py-1"
            href="#galeria">Galería</a
        >
        <a
            class="text-[#1A1A1A] opacity-80 hover:bg-[#1A1A1A] hover:text-white transition-none px-2 py-1"
            href="#contacto">Contacto</a
        >
        <button
            class="bg-[#1A1A1A] text-white px-8 py-3 font-black tracking-widest hover:bg-white hover:text-[#1A1A1A] border-4 border-[#1A1A1A] transition-none"
            >ENTRAR</button
        >
    </nav>
</header>
