<section
    class="relative pt-24 md:pt-32 bg-[#FFCC00] border-b-4 border-neutral-900 overflow-hidden"
>
    <div class="absolute inset-0 opacity-10 mix-blend-multiply grayscale">
        <img
            class="w-full h-full object-cover"
            data-alt="A highly detailed industrial landscape featuring monochromatic close-ups of complex gears and steel structures. The lighting is high-contrast and dramatic, emphasizing raw textures and mechanical precision. The overall aesthetic is modernist-industrial, utilizing sharp lines and structural complexity to create an atmosphere of technical authority and engineering excellence."
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuB775km_ljiHqi1BdFPfYJl84rog52thGv9cpNgY5xjrkcwrPyB5ramfZQAm-HIw3Q5O63yPz6FeU8bVm06TeabczR_hW7FNdUNHySQkI91C4j_5g6F6RlvlBN3SgGbzp6bfh0sA90m8ylptP33FEbUI3UO-P4F9N19WCOVPt4LbW9r9uWS76B4vUm8Ti87uecZmRuaxQI7JlCBmi1ZDvtEx9SQCDhtdJUmBkFg4dZa53fjKt-M10-c7VzXDc1lvPnrqULzFhHqKA1J"
        />
    </div>
    <div class="relative max-w-7xl mx-auto px-10 py-block-padding">
        <div
            class="inline-block bg-neutral-900 text-[#FFCC00] px-4 py-1 mb-6 font-key-concept"
        >
            DOCUMENTACIÓN TÉCNICA v2.0
        </div>
        <h1
            class="slab-serif text-neutral-900 text-6xl md:text-8xl lg:text-9xl font-black leading-none uppercase tracking-tighter max-w-4xl"
        >
            BIBLIOTECA DE RECURSOS TÉCNICOS
        </h1>
        <p
            class="mt-8 font-body-lg text-neutral-900 font-bold max-w-2xl border-l-4 border-neutral-900 pl-6"
        >
            Marcos de trabajo, protocolos de seguridad y herramientas de gestión
            diseñadas para el liderazgo de alta precisión en entornos de
            ingeniería.
        </p>
    </div>
</section>
