<section class="min-h-screen bg-[#FFCC00] flex flex-col md:flex-row pt-32">
    <div
        class="flex-1 px-16 flex flex-col justify-center items-start space-y-8 border-r-4 border-[#1A1A1A]"
    >
        <div
            class="bg-[#1A1A1A] text-white px-4 py-1 font-['Inter'] text-key-concept"
        >
            ESTRUCTURA &amp; PODER
        </div>
        <h1
            class="text-headline-xl font-headline-xl text-[#1A1A1A] leading-none uppercase"
        >
            Liderazgo de Alto Impacto Tecnológico
        </h1>
        <p
            class="text-body-lg font-body-lg text-[#1A1A1A] max-w-lg font-semibold"
        >
            Desarrollamos la arquitectura del liderazgo moderno. Procesos
            industriales aplicados al capital intelectual.
        </p>
        <button
            class="bg-[#1A1A1A] text-white text-headline-md font-headline-md px-12 py-6 hover:bg-white hover:text-[#1A1A1A] border-4 border-[#1A1A1A] transition-none uppercase"
        >
            Iniciar Transformación
        </button>
    </div>
    <div class="flex-1 bg-[#1A1A1A] relative overflow-hidden">
        <img
            alt="Trabajo en equipo"
            class="w-full h-full object-cover grayscale contrast-150 mix-blend-luminosity opacity-80"
            data-alt="A high-contrast black and white photograph of two professional hands firmly shaking over a technical blueprint. The background is a blurred industrial office environment with clean lines and sharp architecture. The lighting is dramatic, emphasizing textures and the raw strength of the human interaction. This monochromatic image perfectly complements a modernist industrial UI with its high contrast and professional aesthetic."
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuCpTrXMmQRu5xNOuei2wQo0BhUUuNurLhhRBiHPU8fVj5geP-S0r11fHmJswK50_408DaC895AA-7AZ83QY7zQ0QvMuygKQ7DElOetLF3a9RWP_3Vdp2s2qHG6C4uc7lRAHeLXMMAkfwBlwvL8y9bScgiSACAw0jbXg59Kndu-S1OeAbMHQ3rTuhUGwHEgWyOJuu8kD7aAZkBBUNDQRG4flYZPru0Bp4yjgWWDLYaaPUg-9TL15YacSdAr_lQOLcoQswlf1Lp8TgA0K"
        />
    </div>
</section>
