<section
    class="bg-primary-container border-b-4 border-zinc-900 px-8 py-24 md:py-32"
>
    <div class="max-w-7xl mx-auto">
        <div class="flex items-center gap-4 mb-4">
            <span class="font-key-concept text-label uppercase"
                >SISTEMA v4.0</span
            >
            <div class="h-[2px] grow bg-zinc-900"></div>
        </div>
        <h1
            class="font-headline-xl text-headline-xl uppercase text-zinc-900 mb-0"
        >
            BITÁCORA TÉCNICA
        </h1>
        <p
            class="font-body-lg text-body-lg max-w-2xl mt-4 font-bold text-zinc-800"
        >
            Documentación de protocolos industriales, arquitectura de sistemas y
            liderazgo de alta precisión para la vanguardia tecnológica.
        </p>
    </div>
</section>
