<!-- Hero Section -->
<section
    class="grid grid-cols-1 md:grid-cols-2 min-h-[921px] border-b-4 border-[#1A1A1A]"
>
    <div class="relative bg-[#1A1A1A] overflow-hidden grayscale">
        <img
            class="w-full h-full object-cover grayscale opacity-90 contrast-125"
            data-alt="A powerful high-contrast black and white portrait of a mature male professional leader looking directly at the camera with a determined and experienced expression. The lighting is dramatic, using a hard-key side-light that emphasizes facial structure and technical precision. The background is a flat, deep black, creating a sense of industrial gravity and modern authority. The overall style is brutalist and minimalist."
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuBDWDFer9G4eaptTp54dgQFH-oVRr4kBRDcIL8rF6j0H7GPYj0rnlPaHCAHl2bcMj8kX1MzQnmaxJHg04eG2V4vRHTHc0pWQ-dnbpJN2-sTsChNPDSnKIbNbstsiVPDt1g-hB05NNRF_vhBDwcmmiOibR1HoUM38EKbKnJpKzNE-lAUlUNp6O-6EJz2Tz0XpTuKySp5q77-wLdVDmSH-Q3X76N5yHdK6PI1_wlgFbtuc_m2z-rdAjz5cR21c_6XEMnGH2L8WmA00cjw"
        />
    </div>
    <div class="bg-[#FFCC00] p-12 md:p-24 flex flex-col justify-center">
        <span class="font-key-concept text-[#1A1A1A] mb-8"
            >DOSSIER // 01-PRO</span
        >
        <h1 class="font-headline-xl text-[#1A1A1A] leading-[0.9] mb-8">
            EL FACTOR HUMANO TRAS LA TECNOLOGÍA
        </h1>
        <p class="font-body-lg text-[#1A1A1A] max-w-md font-medium">
            Liderazgo técnico para un mundo automatizado. La infraestructura es
            hardware, pero la estrategia es puramente humana.
        </p>
    </div>
</section>
