<section
    class="bg-white px-16 py-block-padding border-b-4 border-[#1A1A1A]"
    id="mision"
>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-gutter">
        <div class="col-span-1 space-y-6">
            <span
                class="font-key-concept text-key-concept border-b-4 border-[#FFCC00] pb-2 inline-block"
                >NUESTRO ADN</span
            >
            <h2
                class="text-headline-lg font-headline-lg uppercase leading-tight"
            >
                Misión Industrial
            </h2>
        </div>
        <div class="col-span-2 space-y-12">
            <p
                class="text-headline-md font-headline-md leading-relaxed text-secondary italic"
            >
                "Forjamos líderes capaces de navegar la complejidad tecnológica
                mediante la implementación de marcos de trabajo rígidos pero
                dinámicos."
            </p>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
                <div class="space-y-4">
                    <h3
                        class="font-headline-md text-headline-md border-l-8 border-[#FFCC00] pl-6"
                    >
                        Precisión
                    </h3>
                    <p class="font-body-md text-body-md">
                        Eliminamos la ambigüedad en la toma de decisiones. El
                        liderazgo es una ciencia de datos aplicada a la gestión
                        humana y técnica.
                    </p>
                </div>
                <div class="space-y-4">
                    <h3
                        class="font-headline-md text-headline-md border-l-8 border-[#FFCC00] pl-6"
                    >
                        Escalabilidad
                    </h3>
                    <p class="font-body-md text-body-md">
                        Sistemas de gobernanza diseñados para el crecimiento
                        exponencial. Estructuras sólidas que no se fracturan
                        bajo presión operativa.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
